/**nos-somos**/

.nos-somos {
    background: url(../img/bg-nos-somos.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 399px;
    padding-top: 118px;
}

.nos-somos h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120.4%;
    text-align: center;
    color: #FFFFFF;
}

.nos-somos h1 span {
    color: var(--amarelo);
}

.nos-somos p {
    font-weight: 700;
    font-size: 25px;
    line-height: 131.4%;
    text-align: center;
    color: #FFFFFF;
}


/**nos-somos///**/


/**standard**/

.standard {
    background: url(../img/bg-standard.png) no-repeat;
    background-size: 30%;
    background-position: -150px center;
    width: 100%;
    padding: 160px 0;
}

.standard h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 134.4%;
    color: #20292D;
    padding: 73px 0;
    margin: 0;
    text-align: center;
}

.standard h2 span {
    color: var(--amarelo);
}

.standard p {
    font-weight: 400;
    font-size: 18px;
    line-height: 158.4%;
    color: #304048;
}


/**standard///**/


/**standard-contato**/

.standard-contato {
    background: url(../img/bg-standard-contato.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 399px;
    padding: 110px 0;
    position: relative;
}

.standard-contato h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 158.4%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.standard-contato h3 span {
    color: var(--amarelo);
}

.standard-contato a {
    width: 318px;
    height: 50px;
    border: 1px solid var(--branco);
    border-radius: 2px;
    padding: 8px 36px;
    color: var(--branco);
    margin: 0 auto;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}

.standard-contato .container:before {
    z-index: -1;
    top: -40px;
    margin: 0 auto;
    display: block;
    content: "";
    background: var(--amarelo);
    width: 59%;
    height: 120%;
    position: absolute;
}


/**standard-contato///**/